
<div class="checkbox-wrapper-34" {{ block.shopify_attributes }}>
  <input
    type="checkbox"
    value="yes"
    class="tgl tgl-ios"
    id="toggle-34 custom-gift-{{ block.id }}"
    form="{{ 'product-form-' | append: section.id }}"
    name="properties[{{ block.settings.checkbox_pro | default: product.title  | truncatewords: 3 }}]"
  >
  <label class='tgl-btn' for="toggle-34 custom-gift-{{ block.id }}"></label>
  <span style="line-height: 1.2;">{{ block.settings.checkbox_text }}</span>
</div>



<style>
  .checkbox-wrapper-34 {
    --blue: {{ block.settings.checkbox_color }};
    --g08: #E1E5EB;
    --g04: #848ea1;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .checkbox-wrapper-34 .tgl {
    display: none;
  }
  .checkbox-wrapper-34 .tgl,
  .checkbox-wrapper-34 .tgl:after,
  .checkbox-wrapper-34 .tgl:before,
  .checkbox-wrapper-34 .tgl *,
  .checkbox-wrapper-34 .tgl *:after,
  .checkbox-wrapper-34 .tgl *:before,
  .checkbox-wrapper-34 .tgl + .tgl-btn {
    box-sizing: border-box;
  }
  .checkbox-wrapper-34 .tgl::selection,
  .checkbox-wrapper-34 .tgl:after::selection,
  .checkbox-wrapper-34 .tgl:before::selection,
  .checkbox-wrapper-34 .tgl *::selection,
  .checkbox-wrapper-34 .tgl *:after::selection,
  .checkbox-wrapper-34 .tgl *:before::selection,
  .checkbox-wrapper-34 .tgl + .tgl-btn::selection {
    background: none;
  }
  .checkbox-wrapper-34 .tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 57px;
    min-width:57px;
    height: 27px;
    position: relative;
    cursor: pointer;
    user-select: none;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
  }
  .checkbox-wrapper-34 .tgl + .tgl-btn:after,
  .checkbox-wrapper-34 .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 44%;
    height: 100%;
  }
  .checkbox-wrapper-34 .tgl + .tgl-btn:after {
    left: 0;
  }
  .checkbox-wrapper-34 .tgl + .tgl-btn:before {
    display: inline;
    position: absolute;
    top: 18px;
  }
  .checkbox-wrapper-34 .tgl:checked + .tgl-btn:after {
    left: 56.5%;
  }

  .checkbox-wrapper-34 .tgl-ios + .tgl-btn {
    background: var(--g08);
    border-radius: 20rem;
    padding: 2px;
    transition: all 0.4s ease;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  }
  .checkbox-wrapper-34 .tgl-ios + .tgl-btn:after {
    border-radius: 2em;
    background: #fff;
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  }
  /*.checkbox-wrapper-34 .tgl-ios + .tgl-btn:before {
    content: "No";
    left: 39px;
    color: var(--g04);
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    outline: none;
    border: none;
  }*/
  .checkbox-wrapper-34 .tgl-ios + .tgl-btn:active {
    box-shadow: inset 0 0 0 30px rgba(0, 0, 0, 0.1);
  }
  .checkbox-wrapper-34 .tgl-ios + .tgl-btn:active:after {
    padding-right: 0.4em;
  }
  .checkbox-wrapper-34 .tgl-ios:checked + .tgl-btn {
    background: var(--blue);
  }
  .checkbox-wrapper-34 .tgl-ios:checked + .tgl-btn:active {
    box-shadow: inset 0 0 0 30px rgba(0, 0, 0, 0.1);
  }
  .checkbox-wrapper-34 .tgl-ios:checked + .tgl-btn:active:after {
    margin-left: -0.4em;
  }
  /*.checkbox-wrapper-34 .tgl-ios:checked + .tgl-btn:before {
    content: "Yes";
    left: 18px;
    color: #fff;
    outline: none;
    border: none;
    box-shadow: none;
  }*/
</style>
