{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'newsletter-section.css' | asset_url | stylesheet_tag }}

{%- style -%}
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }

    .section-{{ section.id }}-padding-inner {
      padding-top: {{ section.settings.padding_top_inner }}px;
      padding-bottom: {{ section.settings.padding_bottom_inner }}px; 
      padding-left: {{ section.settings.padding_side_inner }}px;
      padding-right: {{ section.settings.padding_side_inner }}px;
    }
    @media screen and (max-width: 750px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
        padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
      }
      .section-{{ section.id }}-padding-inner {
        padding-top: {{ section.settings.padding_top_inner | times: 0.75 | round: 0 }}px;
        padding-bottom: {{ section.settings.padding_bottom_inner | times: 0.75 | round: 0 }}px;
        padding-left: {{ section.settings.padding_side_inner_mobile | times: 0.75 | round: 0 }}px;
        padding-right: {{ section.settings.padding_side_inner_mobile | times: 0.75 | round: 0 }}px;
      }
    }
    .news-heading {
      margin: 0;
      margin-bottom: 0.3rem;
      line-height: 1.1;
    }
    .news-subheading p {
      margin-top: 0.3rem;
      font-size: 1.4rem;
      line-height: 1.1;
    }
   
    {% if section.settings.background_image != blank %}
      .newsletter__wrapper--{{ section.id }} {
        background-image: url({{ section.settings.background_image | image_url }});
        background-size: cover;
        background-position: center;
        position: relative;
        {% if section.settings.background_style == 'fixed' %}
          background-attachment: fixed;
        {% else %}
        background-attachment: local;
        {% endif %}
      {% if section.settings.full_width == false %}
          border-radius: {{section.settings.border_radius}}px;
        {% endif %}
      }

      .newsletter__wrapper--{{ section.id }}::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
         {% if section.settings.full_width == false %}
          border-radius: {{section.settings.border_radius}}px;
        {% endif %}
        background-color: rgba(0, 0, 0, {{ section.settings.overlay_opacity | divided_by: 100.0 }});
        z-index: 1;
      }

      .newsletter__wrapper--{{ section.id }} > * {
        position: relative;
        z-index: 2;
      }
    {% endif %}

   
     
        {% if section.settings.full_width == false %}
          .newsletter--horizontal {
          border-radius: {{section.settings.border_radius}}px;     
      }
    {% endif %}

    @media screen and (min-width: 990px) {
      .newsletter--horizontal {
          padding-right: {{section.settings.padding_side_inner}}px;
          padding-left: {{section.settings.padding_side_inner}}px;
          width: 100%;
          text-align: {{section.settings.text_alignment}};
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 3rem;
      }
      .newsletter--horizontal .newsletter-form {
          min-width: 50rem;
          margin: 0;
  }
     .newsletter--horizontal > * + * {
         margin-top: 0rem;
  }
  .newsletter--horizontal > *  {
         margin-top: 0rem;
  }
  }

    .newsletter--horizontal .newsletter__subheading {
      margin: 0;
    }

    .newsletter--horizontal .newsletter-form {
      flex-shrink: 0;
    }
    @media screen and (max-width: 750px) {
      .newsletter--horizontal {
        text-align: {{section.settings.text_alignment_mobile}};
      }
    }

{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme_main }} gradient section-{{ section.id }}-padding">
<div class="newsletter center {% if section.settings.full_width == false %}newsletter--narrow page-width{% endif %}">
  <div class="newsletter__wrapper color-{{ section.settings.color_scheme }} gradient content-container isolate{% if section.settings.full_width %} content-container--full-width{% endif %} section-{{ section.id }}-padding-inner{% if section.settings.layout == 'horizontal' %} newsletter--horizontal{% endif %} newsletter__wrapper--{{ section.id }}">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when '@app' -%}
          {% render block %}
        {%- when 'heading' -%}
          <div>
          <h2
            class="inline-richtext news-heading {{ block.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {{ block.shopify_attributes }}
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
              style="--animation-order: {{ forloop.index }};"
            {% endif %}
          >
            {{ block.settings.heading }}
          </h2>
          <div class="news-subheading">
            {{block.settings.subheading}}
          </div>
          </div>
        {%- when 'paragraph' -%}
          <div
            class="newsletter__subheading rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {{ block.shopify_attributes }}
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
              style="--animation-order: {{ forloop.index }};"
            {% endif %}
          >
            {{ block.settings.text }}
          </div>
        {%- when 'email_form' -%}
          <div {{ block.shopify_attributes }}>
            {% form 'customer', class: 'newsletter-form' %}
              <input type="hidden" name="contact[tags]" value="newsletter">
              <div
                class="newsletter-form__field-wrapper{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                <div class="field">
                  <input
                    id="NewsletterForm--{{ section.id }}"
                    type="email"
                    name="contact[email]"
                    class="field__input"
                    value="{{ form.email }}"
                    aria-required="true"
                    autocorrect="off"
                    autocapitalize="off"
                    autocomplete="email"
                    {% if form.errors %}
                      autofocus
                      aria-invalid="true"
                      aria-describedby="Newsletter-error--{{ section.id }}"
                    {% elsif form.posted_successfully? %}
                      aria-describedby="Newsletter-success--{{ section.id }}"
                    {% endif %}
                    placeholder="{{ 'newsletter.label' | t }}"
                    required
                  >
                  <label class="field__label" for="NewsletterForm--{{ section.id }}">
                    {{ 'newsletter.label' | t }}
                  </label>
                  <button
                    type="submit"
                    class="newsletter-form__button field__button"
                    name="commit"
                    id="Subscribe"
                    aria-label="{{ 'newsletter.button_label' | t }}"
                  >
                    <span class="svg-wrapper">
                      {{- 'icon-arrow.svg' | inline_asset_content -}}
                    </span>
                  </button>
                </div>
                {%- if form.errors -%}
                  <small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">
                    <span class="svg-wrapper">
                      {{- 'icon-error.svg' | inline_asset_content -}}
                    </span>
                    {{- form.errors.translated_fields.email | capitalize }}
                    {{ form.errors.messages.email -}}
                  </small>
                {%- endif -%}
              </div>
              {%- if form.posted_successfully? -%}
                <h3
                  class="newsletter-form__message newsletter-form__message--success form__message"
                  id="Newsletter-success--{{ section.id }}"
                  tabindex="-1"
                  autofocus
                >
                  <span class="svg-wrapper">
                    {{- 'icon-success.svg' | inline_asset_content -}}
                  </span>
                  {{- 'newsletter.success' | t }}
                </h3>
              {%- endif -%}
            {% endform %}
          </div>
      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>
</div>

{% schema %}
{
  "name": "t:sections.newsletter.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "select",
      "id": "background_style",
      "label": "Background Style",
      "options": [
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "fixed",
          "label": "Fixed (Parallax)"
        }
      ],
      "default": "normal"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "Overlay Opacity",
      "default": 10
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "options": [
        {
          "value": "vertical",
          "label": "Vertical"
        },
        {
          "value": "horizontal",
          "label": "Horizontal"
        }
      ],
      "default": "horizontal"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left",
      "visible_if": "{{ section.settings.layout == 'horizontal' }}"
    },
    {
      "type": "select",
      "id": "text_alignment_mobile",
      "label": "Text Alignment Mobile",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center",  
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center",
      "visible_if": "{{ section.settings.layout == 'horizontal' }}"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme_main",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.newsletter.settings.full_width.label"
    }, 
    {
      "type": "range",
      "id": "border_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Border Radius",
      "default": 0,
      "visible_if": "{{ section.settings.full_width == false }}"
    },
    {
      "type": "paragraph",
      "content": "t:sections.newsletter.settings.paragraph.content"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },

    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_top_inner",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top_inner",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom_inner",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom_inner",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_side_inner",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_side_inner",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_side_inner_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_side_inner_mobile",
      "default": 20
    } 
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.newsletter.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.newsletter.blocks.heading.settings.heading.default",
          "label": "t:sections.newsletter.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "hxl",
              "label": "t:sections.all.heading_size.options__4.label"
            },
            {
              "value": "hxxl",
              "label": "t:sections.all.heading_size.options__5.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        },
        {
          "type": "inline_richtext",
          "id": "subheading",
          "default": "t:sections.newsletter.blocks.paragraph.settings.paragraph.default",
          "label": "t:sections.newsletter.blocks.paragraph.name" 
        }         
      ]
    },
    {
      "type": "paragraph",
      "name": "t:sections.newsletter.blocks.paragraph.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "t:sections.newsletter.blocks.paragraph.settings.paragraph.default",
          "label": "t:sections.newsletter.blocks.paragraph.settings.paragraph.label"
        }
      ]
    },
    {
      "type": "email_form",
      "name": "t:sections.newsletter.blocks.email_form.name",
      "limit": 1
    },
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "t:sections.newsletter.presets.name",
      "category": "Layout",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "email_form"
        }
      ]
    }
  ]
}
{% endschema %}
